body {
    text-align: center;
}

#gameTitle {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aquamarine;
    font-size: 50px;
}

#score {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aquamarine;
    font-size: 30px;
}

.grid {
    position: absolute;
    width: 560px;
    height: 300px;
    border: solid 3px turquoise;
    margin-top: 100px;
}

.player{
    position:absolute;
    width: 100px;
    height: 20px;
    background-color: gold;
}
.ball{
    position:absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: purple;
}

.block{
    position:absolute;
    width: 100px;
    height: 20px;
    background-color: turquoise;
}
#restartBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 12px 18px;
    font-family: "Press Start 2P", cursive;
    font-size: 10px;
    background: transparent;
    color: #ff00ff;
    border: 2px solid #ff00ff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 1000;
}

#restartBtn:hover {
    background: #ff00ff;
    color: black;
    box-shadow: 0 0 15px #ff00ff;
}

#restartBtn:active {
    transform: scale(0.9);
}

.arcade-btn {
    position: fixed;
    top: 20px;
    left: 20px;

    padding: 10px 15px;
    font-family: "Press Start 2P", cursive;
    font-size: 10px;

    color: cyan;
    border: 2px solid cyan;
    text-decoration: none;

    background: transparent;
    border-radius: 5px;

    transition: all 0.3s ease;
    z-index: 1000;
}

.arcade-btn:hover {
    background: cyan;
    color: black;
    box-shadow: 0 0 15px cyan;
}

.arcade-btn:active {
    transform: scale(0.9);
}