body {
    background-image: url("BG.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    color: #fefefe;
    font-family: "Press Start 2P", cursive;
    text-align: center;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}
h0{
       margin-top: 50px;
    color: #ff0000;
    text-shadow: 2px 2px 0px #0ffff0, 0 0 20px #f0f;
    font-size: 36px;
}
h1 {
    margin-top: 50px;
    color: #ffae00;
    text-shadow: 2px 2px 0px #0ffff0, 0 0 20px #f0f;
    font-size: 36px;
}

h2 {
    color: #00ff51;
    text-shadow: 2px 2px 0px cyan;
}

h3 {
    color: #00fff7;
    text-shadow: 2px 2px 0px black;
}

h4 {
    color: #006eff;
    text-shadow: 2px 2px 0px black;
}

h5 {
    color: #0008ff;
    text-shadow: 2px 2px 0px black;
}

h6 {
    color: #ff00d9;
    text-shadow: 2px 2px 0px black;
}

h7 {
    color: #ff0000;
    text-shadow: 2px 2px 0px black;
}
.arcade-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;

    width: 100%;
    max-width: 1200px;
    padding: 40px 20px;
}

.game-card {
    background: #111;
    padding: 20px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 420px;

    border: 2px solid transparent;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

    transition: all 0.3s ease;
}

.game-image {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.game-card:hover {
    transform: scale(1.05);
    border-color: #00fff7;
    box-shadow: 0 0 25px #00fff7;
}

.game-card h2 {
    color: #ff0303;
    font-size: 25px;
    margin-bottom: 15px;
}

.game-card p {
    color: rgb(72, 100, 241);
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.game-card i {
    color: yellow;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.play-button {
    margin-top: auto;

    padding: 10px;
    background: transparent;
    color: #ff00ff;

    border: 2px solid #ff00ff;
    border-radius: 5px;

    text-decoration: none;
    font-size: 10px;

    transition: all 0.3s ease;
}

.play-button:hover {
    background: #ff00ff;
    color: black;
    box-shadow: 0 0 15px #ff00ff;
}

footer {
    margin-top: auto;
    width: 100%;
    padding: 20px;
    background-color: #000000;
    border-top: 2px dashed rgb(51, 255, 0);
    color: #fefefe;
    text-align: center;
    box-shadow: 0 0px 15px rgb(1, 224, 244);
}

footer p {
    color: aqua;
    margin-bottom: 15px;
    line-height: 1.5;
    font-size: 12px;
}