body {
    background-color: hsl(55, 63%, 43%);
    text-align: center;
}

#GgameContainer {
    padding: 10px;
     border: 1px;
    text-align: center;
}

#gameBoard {
    padding: 10px;
    background-color: black;
    border: 3px solid;
}

#score {
    font-family: fantasy;
    font-size: 100px;
}

#resetBtb {
    font-family: fantasy;
    font-size: 25px;
    width: 100px;
    height: 50px;
    border: 3px solid;
    border-radius: 10px;
    cursor: pointer;
}

button:active {
    background-color: black;
    transform: scale(0.95);
    transform: 0.1s;
}

#highScore {
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: fantasy;
    font-size: 50px;
    color: lavender;
}

<!-- DESDE AQUI TODO ES NUEVO-->

.imageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.imageContainer2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 0;
}

.imageContainer3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 0;
}

.introText {
    font-family: fantasy;
    font-family: 'Tengwar Annatar', sans-serif;
    text-align: center;
    color: rgb(38, 228, 86);
}

.introText2 {
    font-family: fantasy;
    font-size: medium;
    height: auto;
    text-align: center;
    color: rgb(38, 228, 86);
}

.MyDiv{
    font-family: fantasy;
    font-style: oblique;
    padding: 10px;
    text-align: center;
    background-color: rgb(25, 162, 203);
}
.MyDivBi1{
    padding: 10px;
    text-align: center;
    background-color: rgb(255, 36, 244);
}
.MyDivBi2{
    padding: 10px;
    text-align: center;
    background-color: rgb(109, 11, 213);
}

#playBtn{
    font-family: fantasy;
    font-size: 25px;
    width: 120px;
    height: 50px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: gold;
    cursor: pointer;
    margin-bottom: 10px;
}

#playBtn:hover{
    background-color: orange;
    transform: scale(1.05);
}

#playBtn:active{
    background-color: black;
    color: white;
    transform: scale(0.95);
}

#resetBtn{
    font-family: fantasy;
    font-size: 25px;
    width: 120px;
    height: 50px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: gold;
    cursor: pointer;
    margin-bottom: 10px;
}

#resetBtn:hover{
    background-color: orange;
    transform: scale(1.05);
}

#resetBtn:active{
    background-color: black;
    color: white;
    transform: scale(0.95);
}



   
footer{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    border: 1px;
    padding: 10px;
    text-align: center;
    background-color: rgb(27, 23, 255);
}