body {
    background-color: rgb(66, 255, 192) rgb(red, green, blue)
}

#GgameContainer {
    text-align: center;
}

#gameBoard {
    border: 3px solid;
}

#score {
    font-family: fantasy;
    font-size: 100px;
}
#resetBtb{
    font-family: fantasy;
    font-size: 25px;
    width: 100px;
    height: 50px;
    border: 3px solid;
    border-radius: 10px;
    cursor: pointer;
}
button:active{
background-color: gray;
transform:scale(0.95);
transform: 0.1s;
}

#highScore{
    padding-top:100px;
    padding-bottom: 100px;
    font-family: fantasy;
    font-size: 50px;
    color: lavender;
}
